.icon {
  width: 100%;
  height: 100%;
  fill: currentColor;
}

// Align icon inside button
.btn-icon {
  margin-top: -5px;
  margin-bottom: -1px;
  vertical-align: middle;
}

// Global icon sizes
.icon--8 {
  width: 8px;
  height: 8px;
}

.icon--14 {
  width: 14px;
  height: 14px;
}

.icon--16 {
  width: 16px;
  height: 16px;
}

.icon--24 {
  width: 24px;
  height: 24px;
}

.icon--32 {
  width: 32px;
  height: 32px;
}

.icon--48 {
  width: 48px;
  height: 48px;
}

.icon--64 {
  width: 64px;
  height: 64px;
}

.icon--96 {
  width: 96px;
  height: 96px;
}

.icon-vertical-middle {
  vertical-align: middle;
  transform: translateY(-4px);
  transform: translateY(-0.25rem);
}
