.theme {

  &--magenta {
    .kontakt__below-box,
    .navigation__below {
      background-color: $magenta;
      color: #fff;
    }
  }

  &--brown {
    .kontakt__below-box,
    .navigation__below {
      background-color: $brown;
    }
  }

  &--orange { 
    .kontakt__below-box,
    .navigation__below {
      background-color: $orange;
    }
  }
}
