/*
Unitize mixin
================================================
The unitize mixins converts values from px-units to the relative rem-units, providing all the benefits of units like em and rem, without you having to do any calculations yourself.

######Syntax:
`$property` = the property that should be unitized.<br/>
`$value` = pixel-value<br/>

######Example Unitize mixin with custom property
`@include unitize($property, $value);`<br/>
`@include unitize(font-size, 16);`

######Specific built-in functions
In addition to the general `.unitize()` mixin contains specific mixins to quickly calculate values which (for example) have more than one property.<br/>
<br/>

`.unitize-height($value)`<br/>
`.unitize-width($value)`<br/>
`.unitize-max-height($value)`<br/>
`.unitize-max-width($value)`<br/>
`.unitize-min-width($value)`<br/>
*/

@function strip-unit($num) {
    @return $num / ($num * 0 + 1);
}

// $deprecated unitize mixin which should be called like ```@include unitize(200, $remScaleFactor, height);```
@mixin unitize($property, $values: 16) {
    $max: length($values);
    $pxValues: '';
    $remValues: '';

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $pxValues: #{$pxValues + $value}px;

        @if $i < $max {
            $pxValues: #{$pxValues + " "};
        }
    }

    @for $i from 1 through $max {
        $value: strip-unit(nth($values, $i));
        $remValues: #{$remValues + ($value / 16)}rem;

        @if $i < $max {
            $remValues: #{$remValues + " "};
        }
    }

    #{$property}: $pxValues;
    #{$property}: $remValues;
}

@mixin unitize-height($value){
    @include unitize(height, $value);
}

@mixin unitize-width($value){
    @include unitize(width, $value);
}

@mixin unitize-max-height($value){
    @include unitize(max-height, $value);
}

@mixin unitize-min-height($value){
    @include unitize(min-height, $value);
}

@mixin unitize-max-width($value){
    @include unitize(max-width, $value);
}

@mixin unitize-min-width($value){
    @include unitize(min-width, $value);
}
