@import 'colors';
@import 'fonts';
@import "~bootstrap/scss/functions";
@import 'variables';
@import 'bootstrap';
@import '~bootstrap-vue/src/index.scss';

@import "typography";
@import "heading";
@import "icons";
@import "themes";

.ofc-w-h {
  object-fit: cover;
  width: 100%;
  height: 100%;
}

.frame-default {
  @extend .container;
}

/**
 * page transition
 */
.page-enter-active,
.page-leave-active,
.layout-enter-active,
.layout-leave-active {
  transition: opacity .5s;
  transition-property: opacity;
  transition-timing-function: ease-in-out;
  transition-duration: 500ms;
}

.page-enter,
.page-leave-active,
.layout-enter,
.layout-leave-active {
  opacity: 0
}
