<template>
  <nuxt-link :to="data.slug" tag="a">
    <div class="news-box">
      <div class="news-box__inner">
        <div class="news-box__img">
          <core-img
            :src="previewImage.publicUrl"
            :height="previewImage.dimensions.height"
            :width="previewImage.dimensions.width"
            :alt="data.title"
            :title="data.title"
          ></core-img>
        </div>
        <div class="py-1 py-lg-2">
          <span v-if="data.datetime" class="news-box__title">{{
            data.datetime
          }}</span>
          <span class="news-box__date">&nbsp;|&nbsp;{{ data.title }}</span>
        </div>
        <div v-if="data.teaser" class="news-box__text">
          <html-parser :content="data.teaser" />
        </div>
      </div>
    </div>
  </nuxt-link>
</template>
<script>
export default {
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  computed: {
    showInPreview() {
      return this.data.media.filter((x) => x.properties.showInPreview === 1)
    },
    previewImage() {
      if (this.showInPreview.length > 0) {
        return this.showInPreview[0].images.listViewImage
      }
      return false
    }
  }
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '@/assets/scss/_dimensioning';
@import '@/assets/scss/_unitize';
@import '@/assets/scss/_variables';

.news-box {
  color: $blue-dark;

  &__inner {
    max-width: 100%;
  }

  &__title {
    @include unitize(font-size, 22);
    line-height: 1;
    font-weight: 300;
  }

  &__date {
    @include unitize(font-size, 22);
    line-height: 1;
    font-weight: 500;
    color: $blue-darker;
  }

  &__text {
    @include unitize(font-size, 18);
    color: $black;
    font-style: italic;
  }

  &__img {
    position: relative;

    &:before {
      content: '';
      padding-top: 100%;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      @include object-fit();
    }
  }
}
</style>
