<template>
  <div class="ce-newslist">
    <div class="row">
      <div
        v-for="singleNews in data.list"
        :key="singleNews.uid"
        class="col-12 col-md-6 col-lg-4 mb-3 mt-md-0 mt-lg-0"
      >
        <news-box :data="singleNews"></news-box>
      </div>
    </div>
    <div v-if="data.pagination" class="ce-newslist__pagination">
      <nuxt-link
        v-for="page in data.pagination.numberOfPages"
        :key="page"
        to="#"
        class="ce-newslist__page"
        :class="{ 'ce-newslist__page--current': isCurrent(page) }"
        >{{ page }}</nuxt-link
      >
    </div>
  </div>
</template>

<script>
import NewsBox from '~/components/content/elements/news/NewsBox'
export default {
  name: 'NewsList',
  components: {
    NewsBox
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  methods: {
    isCurrent(page) {
      return this.data.pagination.current === page
    }
  }
}
</script>
<style lang="scss">
.news-box {
  &__inner {
    max-width: 100%;
  }

  &__title {
  }

  &__img {
    position: relative;

    &:before {
      content: '';
      display: block;
      padding-top: 100%;
    }

    > img {
      position: absolute;
      top: 0;
      left: 0;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
}
</style>
