<template>
  <div v-if="true === false">
    <swiper ref="mySwiper" :options="swiperOptions">
      <swiper-slide>Slide 1</swiper-slide>
      <swiper-slide>Slide 2</swiper-slide>
      <swiper-slide>Slide 3</swiper-slide>
      <swiper-slide>Slide 4</swiper-slide>
      <swiper-slide>Slide 5</swiper-slide>
      <div slot="pagination" class="swiper-pagination"></div>
    </swiper>
  </div>
  <div v-else>
    <swiper ref="newsSwiper" :options="swiperOptions">
      <swiper-slide
        v-for="singleNews in data.list"
        :key="singleNews.uid"
        class="mb-32"
      >
        <news-box :data="singleNews"></news-box>
      </swiper-slide>
    </swiper>
  </div>
</template>
<script>
import NewsBox from '~/components/content/elements/news/NewsBox'
export default {
  name: 'NewsSlider',
  components: {
    NewsBox
  },
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  data() {
    return {
      swiperOptions: {
        pagination: {
          el: '.swiper-pagination'
        },
        /** from bootstrap variables.scss
         * xs: 0,
           sm: 360px,
           hd: 576px,
           md: 768px,
           lg: 992px,
           xl: 1200px,
           xxl: 1680px
         * **/
        breakpoints: {
          0: { slidesPerView: 1, spaceBetween: 30 },
          360: { slidesPerView: 1, spaceBetween: 30 },
          576: {
            slidesPerView: 2,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          1200: {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          1680: {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          }
        }
        // Some Swiper option/callback...
      }
    }
  },
  computed: {
    swiper() {
      return this.$refs.newsSwiper.$swiper
    }
  }
}
</script>
<style lang="scss"></style>
