<template>
  <div v-if="contact" class="kontakt">
    <ce-header v-bind="$props" />
    <div class="kontakt__container kontakt__container--dark-blue">
      <core-img
        v-if="image"
        class="kontakt__img"
        :src="image.publicUrl"
        :height="image.properties.dimensions.height"
        :width="image.properties.dimensions.width"
        :alt="image.properties.alternative || contact.name"
        :title="image.properties.title || contact.name"
      ></core-img>

      <div class="kontakt__inner">
        <div class="kontakt__orange-box bg-light-orange">
          SCHLIESSKE BRANDING –<br />
          DAS INTERVIEW
          <div class="triangle"></div>
        </div>

        <div class="kontakt__transparent-box text-36">
          {{ contact.name }}
        </div>
      </div>
    </div>

    <div class="kontakt__below-box">
      <div class="kontakt__title">{{ contact.position }}</div>
      <div class="my-2 my-lg-3">
        <span>
          <svg-phone class="icon icon--32 icon-vertical-middle"></svg-phone>
        </span>
        <span class="text-30 ml-1">{{ contact.phone }}</span>
      </div>
      <div class="my-2 my-lg-3">
        <span>
          <svg-email class="icon icon--32 icon-vertical-middle"></svg-email>
        </span>
        <span class="d-inline-block text-white text-30 ml-1">{{
          contact.email
        }}</span>
      </div>
      <div class="my-2 my-lg-3">
        <span>
          <svg-linked-in
            class="icon icon--32 icon-vertical-middle"
          ></svg-linked-in>
        </span>
        <span class="ml-1">
          <svg-xing class="icon icon--32 icon-vertical-middle"></svg-xing>
        </span>
      </div>
    </div>
  </div>
</template>
<script>
import baseCe from '~/components/content/mixins/baseCe'
import SvgPhone from '~/assets/svg/phone.svg?inline'
import SvgEmail from '~/assets/svg/email.svg?inline'
import SvgLinkedIn from '~/assets/svg/linkedin.svg?inline'
import SvgXing from '~/assets/svg/xing.svg?inline'

export default {
  name: 'CeContact',
  components: {
    SvgPhone,
    SvgEmail,
    SvgLinkedIn,
    SvgXing
  },
  extends: baseCe,
  props: {
    contacts: {
      type: Array,
      required: false,
      default() {
        return [
          {
            name: 'Thomas Schliesske',
            phone: '089/89 55 66-12',
            email: 'schliesske@schliesske.de',
            img:
              'http://clickdummy.schliesske.de.w-em.com/img/DSC_2314_sRGB.jpg'
          }
        ]
      }
    }
  },
  computed: {
    contact() {
      if (this.contacts.length > 0) {
        return this.contacts[0]
      }

      return false
    },
    image() {
      if (this.contact && this.contact.image.length > 0) {
        return this.contact.image[0]
      }
      return false
    }
  }
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '@/assets/scss/_converters';
@import '@/assets/scss/_variables';
@import '~bootstrap/scss/mixins';
@import '@/assets/scss/_dimensioning';
@import '@/assets/scss/_unitize';
.kontakt {
  &__container {
    position: relative;
    display: flex;
    align-items: stretch;

    min-height: 65vh;
    max-height: 100vh;

    &:after {
      content: '';
      position: absolute;
      right: 0;
      bottom: 0;
      height: 39px;
      width: 100%;
      mix-blend-mode: multiply;
      @include background-opacity($blue-darker, 0.7);
      z-index: 2;

      @include media-breakpoint-up(lg) {
        height: 72px;
        width: 40%;
      }
    }

    &--magenta:after {
      @include background-opacity($magenta, 0.7);
    }
    &--orange:after {
      @include background-opacity($orange-light, 0.7);
    }
    &--light-blue:after {
      @include background-opacity($blue-light, 0.7);
    }
    &--blue:after {
      @include background-opacity($blue, 0.7);
    }
    &--dark-blue:after {
      @include background-opacity($blue-dark, 0.7);
    }
    &--brown:after {
      @include background-opacity($brown, 0.7);
    }
    &--yellow:after {
      @include background-opacity($yellow, 0.7);
    }
    &--green:after {
      @include background-opacity($green-light, 0.7);
    }
  }

  &__img {
    position: absolute;
    max-width: 100%;
    z-index: 2;
    @include object-fit();
  }

  &__inner {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    flex-grow: 1;
    margin-top: auto;

    @include media-breakpoint-up(lg) {
      flex-direction: row;
      justify-content: space-between;
    }

    z-index: 3;
  }

  &__orange-box {
    align-self: flex-start;
    text-transform: uppercase;
    margin-left: 0;
    padding: 10px 80px 10px 15px;
    position: relative;
    color: $white;
    line-height: 1;
    @include unitize(font-size, 16);
    font-weight: 600;

    @include media-breakpoint-up(lg) {
      margin-left: 3%;
      padding: 10px 80px 10px 30px;
      @include unitize(font-size, 22);
    }
  }

  &__transparent-box {
    width: 100%;
    padding: 7px 15px;
    background-color: transparent;
    white-space: nowrap;
    color: $white;
    @include unitize(font-size, 16);

    @include media-breakpoint-up(lg) {
      width: 40%;
      padding: 20px 40px;

      @include unitize(font-size, 22);
    }
  }

  &__below-box {
    margin-left: auto;
    right: 0;
    bottom: 0;
    width: 100%;
    padding: 15px;
    color: $white;
    background-color: #435260;
    @include unitize(font-size, 14);

    @include media-breakpoint-up(lg) {
      width: 40%;
      padding: 20px 40px;
      @include unitize(font-size, 18);
    }
  }

  &__title {
    font-weight: 800;
    color: $white;
    line-height: 1;
    word-break: break-word;
    margin-bottom: $spacer * 2;

    @include media-breakpoint-up(lg) {
      @include unitize(font-size, 30);
    }
    @include media-breakpoint-up(xl) {
      @include unitize(font-size, 36);
    }

    @include media-breakpoint-up(xxl) {
      @include unitize(font-size, 44);
    }
  }

  &--font-mobile-fix {
    @include media-breakpoint-down(sm) {
      font-size: 0.9rem !important;
    }
  }
}

.triangle {
  position: absolute;
  right: 0;
  top: 0;
  height: 100%;
  width: 50px;
  overflow: hidden;
  transform: scale(-1);

  &:before {
    content: '';
    position: absolute;
    width: 100%;
    left: 0;
    top: 50%;
    transform: translate(50%, -50%) rotate(45deg) scale(0.9);
    background: #ba590f;
    padding-top: 100%;
  }
}
</style>
