<template functional>
  <div
    class="ce-frame"
    :class="[
      `frame-${props.frameClass}`,
      `layout-${props.layout}`,
      `space-before-${
        props.spaceBefore.length ? props.spaceBefore : 'default'
      }`,
      `space-after-${props.spaceAfter.length ? props.spaceAfter : 'default'}`
    ]"
  >
    <slot />
  </div>
</template>
<script>
import CeFrameBase from '../CeFrame.js'
export default {
  name: 'CeFrame',
  extends: CeFrameBase
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.ce-frame {
  margin-bottom: 4rem;

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 8rem;
  }

  @include media-breakpoint-up(xl) {
  }

  &.frame-default {
  }
  &.frame-indent {
    padding-left: $grid-gutter-width / 2;
    padding-right: $grid-gutter-width / 2;

    @include media-breakpoint-up(md) {
      padding-left: calc(15% + 15px);
      padding-right: calc((200% - 1600px) / 2);
    }

    @include media-breakpoint-up(lg) {
      padding-left: calc(20% + 15px);
      padding-right: calc((150% - 1600px) / 2);
    }

    @include media-breakpoint-up(xl) {
      padding-left: calc(25% + 15px);
    }

    @include media-breakpoint-up(xxl) {
    }
  }
}
</style>
