<template>
  <div v-if="headerLayout !== 100" :class="headerCss" class="ce-header">
    <component
      :is="`h${headerLevel}`"
      v-if="headerLayout >= 0 && headerLayout !== 100"
      :class="headerPosition"
    >
      <nav-link v-if="headerLink" :to="headerLink.url">
        <!-- eslint-disable-next-line vue/no-v-html -->
        <span v-html="header"></span>
      </nav-link>
      <template v-else>
        <!-- eslint-disable-next-line vue/no-v-html -->
        <span v-html="header"></span>
      </template>
    </component>
    <component :is="`h${headerLevel + 1}`" v-if="subheader">
      {{ subheader }}
    </component>
  </div>
</template>

<script>
import baseCe from '~/components/content/mixins/baseCe'
export default {
  extends: baseCe,
  computed: {
    headerLevel() {
      // by defualt if type is 0, set h1
      return this.headerLayout === 0 ? 1 : this.headerLayout
    },
    headerCss() {
      const result = []
      if (this.headerPosition) {
        result.push(`ce-header--${this.headerPosition}`)
      }
      if (this.headerIntend) {
        result.push(`ce-header--intend`)
      }
      return result
    }
  }
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';
.ce-header {
  margin-bottom: 2rem;
}
.ce-header--intend {
  @include media-breakpoint-up(md) {
    padding-left: calc(15%);
    padding-right: calc((200% - 1600px) / 2);
  }

  @include media-breakpoint-up(lg) {
    padding-left: calc(20%);
    padding-right: calc((150% - 1600px) / 2);
  }

  @include media-breakpoint-up(xl) {
    padding-left: calc(25%);
  }

  @include media-breakpoint-up(xxl) {
  }
}
</style>
