<template>
  <div class="ce-image">
    <ce-header v-bind="$props" />
    <media-gallery :gallery="gallery" />
  </div>
</template>
<script>
import MediaGallery from './media/Gallery'
import baseCe from '~/components/content/mixins/baseCe'

export default {
  name: 'CeImage',
  components: {
    MediaGallery
  },
  extends: baseCe,
  props: {
    gallery: {
      type: Object,
      required: true,
      default: () => {}
    }
  }
}
</script>
