<template>
  <div v-if="menu" class="ce-menu-section row no-gutters">
    <ce-header v-bind="$props" />

    <div v-for="(menuItem, key) in menu" :key="key" class="col-6 col-hd-3">
      <nav-link
        class="text-decoration-none"
        :to="menuItem.link"
        :target="menuItem.target || false"
        :title="menuItem.title"
      >
        <div
          class="colored-box d-flex flex-wrap"
          :class="getColoredBoxClass(menuItem.layout)"
        >
          <div
            class="colored-box__inner d-flex flex-column flex-wrap justify-content-between flex-grow-1"
          >
            <div class="colored-box__title">
              {{ menuItem.title }}
            </div>
            <div
              class="colored-box__x text-110 text-white font-weight-bold line-height-1 align-self-end"
            >
              +
            </div>
          </div>
        </div>
      </nav-link>
      <slot name="link" :link="menuItem" />
      <menu-nested-list
        v-if="menuItem.children"
        :children="menuItem.children"
      />
    </div>
  </div>
</template>
<script>
import MenuNestedList from './menu/NestedList'
import baseCe from '~/components/content/mixins/baseCe'

export default {
  name: 'CeMenuSection',
  components: {
    MenuNestedList
  },
  extends: baseCe,
  props: {
    menu: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  methods: {
    getColoredBoxClass(layout) {
      switch (layout) {
        case 1:
          return 'bg-magenta'
        case 2:
          return 'bg-brown'
        case 3:
          return 'bg-orange'
        case 4:
          return 'bg-blue'
        case 5:
          return 'bg-dark-blue'
        case 6:
          return 'bg-light-blue'
        case 7:
          return 'bg-green'
        case 8:
          return 'bg-yellow'
        default:
          return 'bg-dark'
      }
    }
  }
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';
@import '~bootstrap/scss/variables';
@import '~bootstrap/scss/mixins';

.ce-menu-section {
  margin-bottom: 4rem;

  @include media-breakpoint-up(md) {
  }

  @include media-breakpoint-up(lg) {
    margin-bottom: 8rem;
  }
}

.colored-box {
  $p: &;

  height: 100%;
  -webkit-transition: all 0.5s;
  -moz-transition: all 0.5s;
  -ms-transition: all 0.5s;
  -o-transition: all 0.5s;
  transition: all 0.5s;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &:hover {
    cursor: pointer;

    & #{$p}__x {
      -webkit-transform: scale(1.5);
      -moz-transform: scale(1.5);
      -ms-transform: scale(1.5);
      -o-transform: scale(1.5);
      transform: scale(1.5);
    }
  }

  $darkness_m: 10;

  &.bg-magenta:hover {
    background-color: darken($magenta, $darkness_m) !important;
  }
  &.bg-brown:hover {
    background-color: darken($brown, $darkness_m) !important;
  }
  &.bg-light-orange:hover {
    background-color: darken($orange-light, $darkness_m) !important;
  }
  &.bg-blue:hover {
    background-color: darken($blue, $darkness_m) !important;
  }
  &.bg-dark-blue:hover {
    background-color: darken($blue-dark, $darkness_m) !important;
  }
  &.bg-light-green:hover {
    background-color: darken($green-light, $darkness_m) !important;
  }
  &.bg-yellow:hover {
    background-color: darken($yellow, $darkness_m) !important;
  }
  &.bg-light-blue:hover {
    background-color: darken($blue-light, $darkness_m) !important;
  }

  &__inner {
    padding: 10px;
    max-width: 100%;

    @include media-breakpoint-up(xl) {
      padding: 40px 20px 20px 20px;
    }
  }

  &__svg {
    width: 100%;
  }

  &__title {
    word-break: break-word;
    font-size: 34px * $scale_down;
    font-weight: 800;
    line-height: 1;
    color: #fff;
    text-transform: uppercase;

    @include media-breakpoint-up(md) {
      font-size: 48px * $scale_down;
    }

    @include media-breakpoint-up(lg) {
      font-size: 64px * $scale_down;
    }
  }

  &--color-red {
    background-color: red;
  }

  &__x {
    -webkit-transition: transform 0.5s;
    -moz-transition: transform 0.5s;
    -ms-transition: transform 0.5s;
    -o-transition: transform 0.5s;
    transition: transform 0.5s;
    line-height: 1;
    font-size: 30px;
    color: $white;
    font-weight: 700;
    align-self: flex-end;
    @include media-breakpoint-up(sm) {
      font-size: 43px;
    }

    @include media-breakpoint-up(lg) {
      font-size: 86px;
    }

    @include media-breakpoint-up(xl) {
      font-size: 92px;
    }

    &:hover {
      cursor: pointer;
    }
  }
}
</style>
