<template>
  <div class="ce-menu-card-list">
    <ce-header v-bind="$props" />

    <div v-if="menu" class="row no-gutters">
      <div
        v-for="(menuItem, key) in menu"
        :key="key"
        class="col-12 col-md-6 col-lg-4 p-0 py-2 px-sm-2 p-lg-3"
      >
        <reference-box :data="menuItem"></reference-box>
        <slot name="link" :link="menuItem" />
        <menu-nested-list
          v-if="menuItem.children"
          :children="menuItem.children"
        />
      </div>
    </div>
  </div>
</template>
<script>
import MenuNestedList from './menu/NestedList'
import baseCe from '~/components/content/mixins/baseCe'
import ReferenceBox from '~/components/content/elements/CeReferenceBox'
export default {
  name: 'CeMenuCardList',
  components: {
    MenuNestedList,
    ReferenceBox
  },
  extends: baseCe,
  props: {
    menu: {
      type: Array,
      required: true,
      default: () => []
    }
  }
}
</script>
