<template>
  <div class="ce-news">
    <ce-header v-bind="$props" />
    <news-slider v-if="isListSlider" :data="data" />
    <news-list v-else-if="isListPage" :data="data" />
    <news-single v-else-if="isSinglePage" :data="data" />
  </div>
</template>
<script>
import NewsList from './news/NewsList'
import NewsSingle from './news/NewsSingle'
import NewsSlider from './news/NewsSlider'
import baseCe from '~/components/content/mixins/baseCe'

export default {
  name: 'CeNewsPi1',
  components: {
    NewsList,
    NewsSingle,
    NewsSlider
  },
  extends: baseCe,
  props: {
    data: {
      type: Object,
      required: false,
      default: () => {}
    }
  },
  computed: {
    isSinglePage() {
      return this.data.settings.action === 'detail'
    },
    isListPage() {
      return this.data.settings.action === 'list'
    },
    isListSlider() {
      return (
        this.data.settings.action === 'list' &&
        this.data.settings.templateLayout === '2'
      )
    }
  }
}
</script>
