<template>
  <div class="ce-reference-slider">
    <ce-header v-bind="$props" />
    <swiper
      v-if="menu && menu.length > 0"
      ref="referenceSwiper"
      :options="swiperOptions"
    >
      <swiper-slide v-for="menuItem in menu" :key="menuItem.uid" class="mb-32">
        <reference-box :data="menuItem"></reference-box>
      </swiper-slide>
    </swiper>
  </div>
</template>
<script>
// import SwiperSlider from 'swiper'
import baseCe from '~/components/content/mixins/baseCe'
import ReferenceBox from '~/components/content/elements/CeReferenceBox'

export default {
  name: 'CeReferenceSlider',
  components: {
    ReferenceBox
  },
  extends: baseCe,
  props: {
    menu: {
      type: Array,
      required: true
    }
  },
  data() {
    return {
      swiperOptions: {
        slidesPerColumnFill: 'row',
        slidesPerView: 3,
        slidesPerColumn: 2,
        spaceBetween: 30,
        pagination: {
          el: '.swiper-pagination'
        },
        breakpoints: {
          0: { slidesPerView: 1, spaceBetween: 30 },
          360: { slidesPerView: 1, spaceBetween: 30 },
          576: {
            slidesPerView: 2,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          768: {
            slidesPerView: 2,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          992: {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerColumn: 1,
            slidesPerGroup: 1
          },
          1200: {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerColumn: 2,
            slidesPerGroup: 2
          },
          1680: {
            slidesPerView: 3,
            spaceBetween: 30,
            slidesPerColumn: 2,
            slidesPerGroup: 2
          }
        }
      }
    }
  },
  computed: {
    swiper() {
      return this.$refs.referenceSwiper.$swiper
    }
  },
  mounted() {}
}
</script>
<style lang="scss"></style>
