<template>
  <nav-link :to="data.link" :target="data.target || false" :title="data.title">
    <div class="reference-box ">
      <div class="reference-box__inner">
        <div class="reference-box__img">
          <core-img
            v-if="data.file"
            :height="data.file.properties.dimensions.height"
            :width="data.file.properties.dimensions.width"
            :alt="data.file.properties.alternative || ''"
            :title="data.file.properties.title || data.title"
            class="img-fluid"
            :src="data.file.publicUrl"
          />
        </div>
        <div
          class="reference-box__title text-white text-uppercase font-weight-800 text-48-scale line-height-1"
        >
          {{ data.title }}
        </div>
      </div>
    </div>
  </nav-link>
</template>
<script>
export default {
  name: 'CeReferenceBox',
  props: {
    data: {
      type: Object,
      required: true
    }
  },
  methods: {
    getColoredBoxClass(layout) {
      switch (layout) {
        case 1:
          return 'bg-magenta'
        case 2:
          return 'bg-brown'
        case 3:
          return 'bg-orange'
        case 4:
          return 'bg-blue'
        case 5:
          return 'bg-dark-blue'
        case 6:
          return 'bg-light-blue'
        case 7:
          return 'bg-green'
        case 8:
          return 'bg-yellow'
        default:
          return 'bg-dark'
      }
    }
  }
}
</script>
<style lang="scss">
.reference-box {
  position: relative;

  &:before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  &__inner {
    padding-top: 20px;
    max-width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__title {
    word-break: break-word;
    font-weight: 800;
    font-size: 1.35rem;
    position: relative;
    padding-left: 20px;
    padding-right: 20px;
  }

  &__img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    > img {
      object-fit: cover;
      width: 100%;
      height: 100%;
      border: 1px solid grey;
    }
  }
}
</style>
