<template>
  <div class="ce-structured-content">
    <div v-for="(row, rIndex) in rows" :key="rIndex" class="row">
      <div
        v-for="(column, cIndex) in row.columns"
        :key="rIndex + '-' + cIndex"
        :class="getColumnClass(column)"
      >
        <ce-dynamic
          v-for="(element, eIndex) in column.elements"
          :key="rIndex + '-' + cIndex + '-' + eIndex"
          :type="element.type"
          :data="element"
        />
      </div>
    </div>
  </div>
</template>
<script>
import baseCe from '~/components/content/mixins/baseCe'

export default {
  name: 'CeStructuredContent',
  extends: baseCe,
  props: {
    structure: {
      type: Object,
      required: true,
      default: () => {
        return {
          rows: []
        }
      }
    }
  },
  computed: {
    rows() {
      return this.structure.rows
    }
  },
  methods: {
    getColumnClass(row) {
      return 'col-6'
    }
  }
}
</script>
<style></style>
