<template>
  <transition name="fade">
    <b-img-lazy
      v-if="!isVisible"
      :key="0"
      v-b-visible.once="onVisible"
      v-bind="$attrs"
      :height="height"
      :width="width"
      :alt="alt"
      :title="title"
    ></b-img-lazy>
    <b-img-lazy
      v-else
      :key="1"
      v-bind="$attrs"
      :blank="false"
      :height="height"
      :width="width"
      :alt="alt"
      :title="title"
      :src="src"
    ></b-img-lazy>
  </transition>
</template>
<script>
export default {
  props: {
    src: {
      type: String,
      required: true
    },
    height: {
      type: [Number, String],
      required: false,
      default: ''
    },
    width: {
      type: [Number, String],
      required: false,
      default: ''
    },
    alt: {
      type: String,
      required: false,
      default: ''
    },
    title: {
      type: String,
      required: false,
      default: ''
    }
  },
  data() {
    return {
      isVisible: false
    }
  },
  methods: {
    onVisible(visible) {
      this.isVisible = visible
    }
  }
}
</script>
<style>
/* Transition styles */
.fade-enter-active {
  transition: opacity 1.5s;
}
.fade-enter {
  opacity: 0;
}
</style>
