<template functional>
  <div
    v-bind="data.attrs"
    :class="[data.class, data.staticClass]"
    class="ce-media-image"
  >
    <component
      :is="props.file.properties.link ? 'nav-link' : 'div'"
      :to="props.file.properties.link"
    >
      <span
        v-if="props.file.properties.title"
        class="topleft-span text-blue-light"
        >{{ props.file.properties.title }}</span
      >
      <core-img
        class="img-fluid w-100"
        :src="props.file.publicUrl"
        :height="props.file.properties.dimensions.height"
        :width="props.file.properties.dimensions.width"
        :alt="props.file.properties.alternative || ''"
        :title="props.file.properties.title || title"
      />
    </component>
  </div>
</template>

<script>
export default {
  name: 'MediaImage',
  functional: true,
  props: {
    file: {
      type: Object,
      required: true,
      default: () => {}
    }
  }
}
</script>
<style lang="scss">
.ce-media-image {
  position: relative;
  .topleft-span {
    position: absolute;
    top: 0;
    left: 0;
    font-weight: 600;
    background-color: #f3f3f3;
    padding: 10px 15px;
    z-index: 8;
  }
}
</style>
