<template>
  <div class="content">
    <ce-renderer :content="content.colPos0" />
  </div>
</template>
<script>
import BeDefault from '~typo3/layouts/backend/BeDefault'

export default {
  extends: BeDefault,
  computed: {}
}
</script>
