<template>
  <nav
    class="nav-mobile container-fluid d-block d-md-none"
    :class="{
      'nav-mobile--opened': visible,
      'nav-mobile--submenu-opened':
        currentLink && currentLink !== key ? 'none' : ''
    }"
  >
    <ul
      class="nav-mobile__main d-flex flex-row justify-content-between align-items-center h-100"
    >
      <li class="nav-mobile__el col d-flex justify-content-center">
        <a
          href="/"
          aria-current="page"
          class="nav-mobile__btn d-flex flex-column align-items-center link-current link-active"
        >
          <svg
            version="1.1"
            viewBox="0 0 12 14"
            class="svg-icon svg-fill"
            style="height: 14px;"
          >
            <path
              pid="0"
              d="M10.622 12.944h-9.39a.179.179 0 0 1-.176-.176v-6.78l4.848-4.729 4.837 4.545.057 6.964a.179.179 0 0 1-.176.176zm1.13-7.583a.543.543 0 0 0-.12-.17L6.26.144a.526.526 0 0 0-.73.007L.163 5.385a.564.564 0 0 0-.12.173.528.528 0 0 0-.038.193C0 5.758 0 8.097 0 12.768 0 13.448.553 14 1.232 14h9.39c.679 0 1.232-.553 1.232-1.236l-.06-7.196a.587.587 0 0 0-.042-.207z"
              _fill="#4E4E4E"
              fill-rule="evenodd"
            ></path>
          </svg>
          <span class="nav-mobile__label text-uppercase">Home</span>
        </a>
      </li>

      <li
        class="nav-mobile__el col d-flex justify-content-center search-toggler"
      >
        <a
          href="/search"
          class="nav-mobile__btn d-flex flex-column align-items-center"
          to="/de/search"
        >
          <svg
            version="1.1"
            viewBox="0 0 21 20"
            class="svg-icon svg-fill"
            style="height: 20px;"
          >
            <path
              pid="0"
              d="M20.454 18.98l-4.86-4.86a8.493 8.493 0 0 0 2.092-5.592C17.686 3.823 13.86 0 9.16 0 4.454 0 .63 3.827.63 8.528c0 4.7 3.827 8.527 8.528 8.527 2.137 0 4.093-.789 5.592-2.093l4.86 4.86a.584.584 0 0 0 .843 0 .6.6 0 0 0 0-.842zM1.824 8.528c0-4.045 3.29-7.33 7.33-7.33 4.045 0 7.33 3.29 7.33 7.33s-3.285 7.335-7.33 7.335c-4.04 0-7.33-3.29-7.33-7.335z"
              _fill="#4E4E4E"
              fill-rule="nonzero"
            ></path>
          </svg>
          <span class="nav-mobile__label text-uppercase">
            Search
          </span></a
        >
      </li>
      <li
        class="nav-mobile__el col d-flex justify-content-center nav-mobile__el--main"
      >
        <button
          class="nav-mobile__btn nav-mobile__toggle d-flex justify-content-center flex-column align-items-center"
          @click="toggleMenu()"
        >
          <div class="nav-mobile__hamburger">
            <span></span> <span></span> <span></span>
          </div>
          <span class="nav-mobile__label text-uppercase">Menu</span>
        </button>
      </li>
      <li class="nav-mobile__el col d-flex justify-content-center">
        <button class="nav-mobile__btn d-flex flex-column align-items-center">
          <div>
            <span class="locale-indicator"
              ><span class="locale-indicator__code">
                de
              </span>
              <img
                alt="English"
                width="15"
                height="15"
                crossorigin="anonymous"
                class="locale-indicator__flag lazyloaded"
                src="https://relaunch.abn-electro.com.w-em.com/typo3/sysext/core/Resources/Public/Icons/Flags/DE.png"
                data-lazy-load=""
            /></span>
          </div>
        </button>
      </li>
      <li class="nav-mobile__el col d-flex justify-content-center">
        <a
          href="https://macmillaneducation.secure.force.com/help/"
          target="_blank"
          rel="noopener noreferrer"
          class="nav-mobile__btn d-flex flex-column align-items-center"
        >
          <svg
            version="1.1"
            viewBox="0 0 15 15"
            class="svg-icon svg-fill"
            style="height: 16px;"
          >
            <g _fill="#FFF">
              <circle pid="0" cx="7.5" cy="11.089" r="1"></circle>
              <path
                pid="1"
                d="M7.5 0A7.496 7.496 0 0 0 0 7.5C0 11.645 3.354 15 7.5 15c4.145 0 7.5-3.354 7.5-7.5C15 3.355 11.646 0 7.5 0zm0 13.828A6.325 6.325 0 0 1 1.172 7.5 6.325 6.325 0 0 1 7.5 1.172 6.325 6.325 0 0 1 13.828 7.5 6.325 6.325 0 0 1 7.5 13.828z"
              ></path>
              <path
                pid="2"
                d="M7.5 3.765a2.346 2.346 0 0 0-2.344 2.343.586.586 0 1 0 1.172 0c0-.646.526-1.171 1.172-1.171s1.172.525 1.172 1.171c0 .647-.526 1.172-1.172 1.172a.586.586 0 0 0-.586.586v1.465a.586.586 0 1 0 1.172 0v-.953a2.348 2.348 0 0 0 1.758-2.27A2.346 2.346 0 0 0 7.5 3.765z"
              ></path>
            </g>
          </svg>
          <span class="nav-mobile__label text-uppercase">
            Help
          </span></a
        >
      </li>
    </ul>

    <slide-y-down-transition>
      <div v-show="visible" class="nav-mobile__list">
        <div class="nav-mobile__header d-flex flex-column">
          <logo />
          <!--
          <ul class="mobile-list-top d-flex justify-content-between flex-wrap">
            <li class="mobile-list-top__el">
              <a href="/" target="_blank" class="mobile-list-top__link">
                Macmillan English
              </a>
            </li>
            <li class="mobile-list-top__el">
              <a
                href="http://www.onestopenglish.com/"
                target="_blank"
                class="mobile-list-top__link"
              >
                Onestopenglish
              </a>
            </li>
            <li class="mobile-list-top__el">
              <a
                href="https://www.macmillandictionary.com/"
                target="_blank"
                class="mobile-list-top__link"
              >
                Dictionary
              </a>
            </li>
          </ul>
          -->
        </div>
        <nav class="mobile-list__wrapper">
          <ul class="mobile-list h-100">
            <li
              v-for="(link, key) in links"
              :key="key"
              v-scroll-lock="key === currentLink"
              :style="{
                display: currentLink && currentLink !== key ? 'none' : ''
              }"
              class="mobile-list__el flex-row flex-wrap justify-content-between"
              :class="{
                'mobile-list__el--opened': key === currentLink,
                'h-100': key === currentLink
              }"
            >
              <nav-link
                :to="link.link"
                class="mobile-list__link d-flex flex-grow-1"
              >
                {{ link.title }}
              </nav-link>

              <button
                v-if="link.children"
                class="mobile-list__el-toggle"
                @click="toggleLink(link, key)"
              >
                <svg xmlns="http://www.w3.org/2000/svg" width="12" height="7">
                  <path
                    fill="#4E4E4E"
                    fill-rule="evenodd"
                    d="M.5359232.744168c.1853106-.188181.488314-.190413.676814-.005103l4.7874545 4.71282 4.7874544-4.71282c.1881811-.18531.4911845-.183078.676495.005103.1853106.188501.182759.491504-.0051032.676496L6.3357281 6.464236c-.1862674.183077-.4848055.183077-.6710729 0L.5413454 1.420664c-.0950474-.093453-.14289-.217206-.14289-.34064 0-.121202.0459289-.242722.1374678-.335856z"
                  ></path>
                </svg>
              </button>

              <div v-if="link.children" class="mobile-list__sub-wrapper h-100">
                <div class="nav-list mobile-list__sub">
                  <div class="nav-list__title h6 d-none">
                    <span>{{ link.title }}</span>
                  </div>
                  <ul class="nav-list__list">
                    <li
                      v-for="(child, ckey) in link.children"
                      :key="ckey"
                      class="nav-list__item"
                    >
                      <nav-link
                        :to="child.link"
                        class="mobile-list__link d-flex flex-grow-1"
                      >
                        {{ child.title }}
                      </nav-link>
                    </li>
                  </ul>
                </div>
              </div>
            </li>
          </ul>
        </nav>
      </div>
    </slide-y-down-transition>
  </nav>
</template>
<script>
import { SlideYDownTransition } from 'vue2-transitions'
export default {
  name: 'NavigationMain',
  components: {
    SlideYDownTransition
  },
  props: {
    links: {
      type: Array,
      required: true,
      default: () => []
    }
  },
  data() {
    return {
      visible: false,
      currentLink: null
    }
  },
  computed: {
    listStyle() {
      return {
        display: this.visible === true ? 'block' : 'none'
      }
    }
  },
  methods: {
    toggleLink(link, key) {
      if (key === this.currentLink) {
        this.currentLink = null
      } else {
        this.currentLink = key
      }
    },
    toggleMenu() {
      this.visible = !this.visible
    }
  }
}
</script>
<style lang="scss">
.nav-mobile {
  position: fixed;
  left: 0;
  right: 0;
  margin: 0;
  padding: 1.07143rem 0;
  z-index: 80;
  bottom: 0;
  width: 100vw;
  background-color: #4e4e4e;

  &:after {
    bottom: 0;
    width: 100vw;
    background-color: #4e4e4e;
    content: ' ';
    position: absolute;
    display: block;
    height: 100px;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    z-index: 100;
  }
}

.nav-mobile__main {
  position: relative;
  padding: 0;
  margin: 0;
  z-index: 81;
  padding-bottom: env(safe-area-inset-bottom);

  a {
    text-decoration: none;
    color: #4e4e4e;
  }
}

.nav-mobile__header {
  background-color: #3dcd58;
  -webkit-transition: height 0.15s ease, padding 0.15s ease,
    -webkit-box-align 0.15s ease;
  transition: height 0.15s ease, padding 0.15s ease,
    -webkit-box-align 0.15s ease;
  transition: height 0.15s ease, align-items 0.15s ease, padding 0.15s ease;
  transition: height 0.15s ease, align-items 0.15s ease, padding 0.15s ease,
    -webkit-box-align 0.15s ease, -ms-flex-align 0.15s ease;
  padding: 0.71429rem 2.14286rem;
  height: 150px;
  will-change: height, align-items, padding;
}

.nav-mobile__logo {
  -webkit-filter: brightness(0) invert(1);
  filter: brightness(0) invert(1);
  max-width: 9.28571rem;
}

.nav-mobile__list {
  position: fixed;
  top: 0;
  background-color: #fff;
  width: 100vw;
  height: calc(100% - 78px);
  height: calc(100% - 78px - env(safe-area-inset-bottom));
  z-index: 80;
  overflow-y: auto;
  overflow-x: hidden;
}

.nav-mobile--submenu-opened {
  .nav-mobile__header {
    height: 80px;
    padding: 0.71429rem 2.14286rem;
  }

  .mobile-list__wrapper {
    height: calc(100% - 80px);
  }
}

.nav-mobile__el {
  position: relative;
  padding-left: 10px;
  padding-right: 10px;

  svg {
    margin-bottom: 0.35714rem;

    path {
      fill: #fff;
    }
  }

  .locale-indicator {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: reverse;
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    color: #fff;
    font-size: 0.78571rem;
    font-weight: 500;
  }

  .locale-indicator__flag {
    margin-bottom: 0.35714rem;
    margin-left: 0;
  }
}

.nav-mobile__btn {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  min-width: 0;
  min-height: 0;
  color: currentColor;
  -webkit-appearance: none;
  cursor: pointer;
  outline: none;
}

.nav-mobile__label {
  color: #fff;
  font-size: 0.78571rem;
}

.nav-mobile__toggle {
  width: 4.28571rem;
  height: 4.28571rem;
  background-color: #fff;
  -webkit-box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.12);
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.12);
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 50%;
  -webkit-transform: translate(-50%, -100%);
  transform: translate(-50%, -100%);
  cursor: pointer;

  .nav-mobile__label {
    color: #4e4e4e;
  }

  .nav-mobile__hamburger {
    width: 1.42857rem;

    span {
      background-color: #4e4e4e;
      width: 1.42857rem;
      height: 2px;
      margin-bottom: 4px;
      display: block;
      -webkit-backface-visibility: hidden;
      backface-visibility: hidden;
      will-change: transform, opacity;
      -webkit-transition: opacity 0.15s ease, -webkit-transform 0.15s ease;
      transition: opacity 0.15s ease, -webkit-transform 0.15s ease;
      transition: transform 0.15s ease, opacity 0.15s ease;
      transition: transform 0.15s ease, opacity 0.15s ease,
        -webkit-transform 0.15s ease;
    }
  }
}

.nav-mobile--opened .nav-mobile__hamburger span {
  &:first-child {
    -webkit-transform: rotate(45deg) translateY(4px) translateX(5px);
    transform: rotate(45deg) translateY(4px) translateX(5px);
  }

  &:nth-child(2) {
    -webkit-transform: scale(0);
    transform: scale(0);
    opacity: 0;
  }

  &:nth-child(3) {
    -webkit-transform: rotate(-45deg) translateY(-4px) translateX(5px);
    transform: rotate(-45deg) translateY(-4px) translateX(5px);
  }
}

.mobile-list {
  padding: 0;
  margin: 0;
}

.mobile-list__wrapper {
  padding: 0.71429rem 2.14286rem;
  height: calc(100% - 143px - 0.71429rem);
  -webkit-transition: height 0.15s ease;
  transition: height 0.15s ease;
  overflow: hidden;
  position: relative;
}

.mobile-list__sub-wrapper {
  display: none;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  overflow-x: hidden;
}

.mobile-list__link {
  padding: 0.71429rem 0;
  font-size: 1.14286rem;
  height: 2.85714rem;
}

.mobile-list__el {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 10px 0;

  &:first-child {
    display: none;
  }
}

.mobile-list__el-toggle {
  background: transparent;
  border: none;
  padding: 0;
  margin: 0;
  font-size: inherit;
  font-weight: 400;
  min-width: 0;
  min-height: 0;
  color: currentColor;
  -webkit-appearance: none;
  width: 2.85714rem;
  height: 2.85714rem;
  -webkit-transition: -webkit-transform 0.15s ease;
  transition: -webkit-transform 0.15s ease;
  transition: transform 0.15s ease;
  transition: transform 0.15s ease, -webkit-transform 0.15s ease;
}

.mobile-list__el--opened {
  .mobile-list__sub-wrapper {
    display: block;
    height: calc(100% - 80px);
  }

  .mobile-list__el-toggle {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
  }
}

.mobile-list .nav-list__item {
  margin-bottom: 0.57143em;

  &[class*='color-'] {
    position: relative;
    padding-left: 2.14286em;

    &:before {
      content: '';
      position: absolute;
      width: 1.07143em;
      left: 0;
      top: 0;
      bottom: 0;
      background-color: currentColor;
    }
  }
}

.mobile-list-top {
  margin-top: 2.14286rem;
}

.mobile-list-top__el {
  margin: 0.35714rem 0;
}

.mobile-list-top__link {
  color: #fff;
  font-size: 0.85714rem;
  font-weight: 500;

  &:active,
  &:focus,
  &:hover {
    color: #fff;
    text-decoration: underline;
  }
}

.nav-simple-list {
  text-transform: uppercase;
  min-height: 2em;
  font-weight: 500;
}

.nav-simple-list__item {
  margin: 0 2.14286rem;

  .svg-icon {
    height: 1rem;
    margin-left: 0.71429rem;
  }
}

@media (min-width: 48em) and (max-width: 74.9375em) {
  .nav-simple-list__item {
    margin-left: 0.71429rem;
    margin-right: 0.71429rem;
  }
}

.nav-simple-list__link {
  position: relative;
  text-decoration: none;
  color: #4e4e4e;
  white-space: nowrap;

  &:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 3px;
    background-color: #da1b2c;
    opacity: 0;
  }
}

.is-active .nav-simple-list__link:after {
  opacity: 1;
}

.nav-simple-list__link {
  &.link-active:after,
  &:hover:after {
    opacity: 1;
  }
}

.cover-nav {
  background-color: #da1b2c;
  background-position: 50%;
  background-size: cover;
}

.cover-nav__item {
  position: relative;
  background-color: rgba(218, 27, 44, 0.85);
  -webkit-transition: background-color 0.15s ease;
  transition: background-color 0.15s ease;
}

.cover-nav--vertical .cover-nav__item {
  width: 33.333%;
  -webkit-box-flex: 33.333%;
  -ms-flex: 33.333%;
  flex: 33.333%;

  &:after {
    content: '';
    display: block;
    padding-top: 100%;
  }
}

@media (max-width: 47.9375em) {
  .cover-nav--vertical .cover-nav__item {
    width: 50%;
    -webkit-box-flex: 0;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
  }
}

.cover-nav__item:hover {
  background-color: rgba(78, 78, 78, 0.85);
}

.cover-nav__description {
  text-align: justify;
  font-size: 1rem;
}

.cover-nav__link {
  font-size: 2em;
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  padding: 15%;
  height: 100%;
  background: -webkit-gradient(
      linear,
      left top,
      right top,
      color-stop(50%, #fff),
      color-stop(0, hsla(0, 0%, 100%, 0))
    ),
    -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(0, hsla(0, 0%, 100%, 0))),
    -webkit-gradient(linear, left top, right top, color-stop(50%, #fff), color-stop(0, hsla(0, 0%, 100%, 0))),
    -webkit-gradient(linear, left top, left bottom, color-stop(50%, #fff), color-stop(0, hsla(0, 0%, 100%, 0)));
  background: linear-gradient(90deg, #fff 50%, hsla(0, 0%, 100%, 0) 0),
    linear-gradient(#fff 50%, hsla(0, 0%, 100%, 0) 0),
    linear-gradient(90deg, #fff 50%, hsla(0, 0%, 100%, 0) 0),
    linear-gradient(#fff 50%, hsla(0, 0%, 100%, 0) 0);
  background-position: top, 100%;
  background-repeat: repeat-x, repeat-y;
  background-size: 10px 1px, 1px 10px;
  z-index: 1;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -ms-flex-direction: column;
  flex-direction: column;
}

.cover-nav--vertical .cover-nav__link {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.cover-nav__link {
  color: #fff;

  &:focus,
  &:hover {
    color: #fff;
  }
}

@media (min-width: 48em) {
  .cover-nav__link {
    &:focus .cover-nav__more,
    &:hover .cover-nav__more {
      opacity: 1;
      -webkit-transform: translateY(0);
      transform: translateY(0);
    }
  }
}

.cover-nav--vertical {
  .cover-nav__item,
  .cover-nav__link {
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
  }

  .cover-nav__more {
    display: block;
    position: absolute;
    left: 0;
    right: 0;
    margin-top: 1.07143em;
    margin-left: 0.71429em;
    font-size: 0.5em;
    opacity: 0;
    -webkit-transform: translateY(100%);
    transform: translateY(100%);
    -webkit-transition: opacity 0.15s ease, -webkit-transform 0.15s ease;
    transition: opacity 0.15s ease, -webkit-transform 0.15s ease;
    transition: opacity 0.15s ease, transform 0.15s ease;
    transition: opacity 0.15s ease, transform 0.15s ease,
      -webkit-transform 0.15s ease;
  }

  .cover-nav__title {
    margin: 0;
    font-size: 1em;
    line-height: inherit;
    font-weight: inherit;
    word-break: keep-all;
  }
}

@media (max-width: 47.9375em) {
  .cover-nav--vertical .cover-nav__item .cover-nav__link {
    background-size: 10px 1px, 1px 10px;
    background-position: 100% 100%;
  }
}

@media (min-width: 48em) {
  .cover-nav--vertical .cover-nav__item:nth-of-type(-n + 3) .cover-nav__link {
    background-size: 0 1px, 1px 10px;
  }
}

@media (min-width: 48em) {
  .cover-nav--vertical .cover-nav__item:nth-of-type(3) .cover-nav__link {
    background-size: 0 1px, 0 10px;
  }
}

@media (min-width: 48em) {
  .cover-nav--vertical .cover-nav__item:nth-of-type(6) .cover-nav__link {
    background-size: 10px 1px, 1px 0;
  }
}

@media (max-width: 84.9375em) {
  .cover-nav--vertical .cover-nav__link {
    font-size: 1.42857rem;
  }
}

@media (min-width: 48em) and (max-width: 61.9375em) {
  .cover-nav--vertical .cover-nav__link {
    font-size: 1.14286rem;
  }
}

@media (max-width: 47.9375em) {
  .cover-nav--vertical .cover-nav__link {
    font-size: 1rem;
  }
}

.cover-nav--horizontal {
  max-width: 114.28571rem;
  margin: 0 auto;

  .cover-nav__item {
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-flex: 1;
    -ms-flex-positive: 1;
    flex-grow: 1;
    -ms-flex-preferred-size: 0;
    flex-basis: 0;

    .cover-nav__link {
      padding: 7.5%;
      background-size: 0 1px, 1px 10px;
    }

    &:last-child .cover-nav__link {
      background-size: 0;
    }
  }

  .cover-nav__more {
    display: block;
    position: absolute;
    border-radius: 50%;
    width: 3.64286rem;
    height: 3.64286rem;
    border: 1px solid #fff;
    background-color: transparent;
    right: 1.78571rem;
    bottom: 1.78571rem;
    z-index: -1;
    pointer-events: none;

    svg {
      width: 80%;

      path {
        fill: #fff;
        stroke: #fff;
      }
    }
  }

  .cover-nav__title {
    margin: 0 0 1.07143rem;
    font-size: 3.57143rem;
    line-height: 1.3;
    text-align: left;
    font-weight: 700;
  }
}

@media (min-width: 48em) {
  .cover-nav--horizontal .cover-nav__item:nth-child(2n) .cover-nav__link {
    padding-top: 70%;
    padding-bottom: 20%;
  }
}

@media (min-width: 48em) {
  .cover-nav--horizontal .cover-nav__item:nth-child(odd) .cover-nav__link {
    padding-bottom: 70%;
  }
}

@media (max-width: 156.1875em) {
  .cover-nav--horizontal .cover-nav__title {
    font-size: 2.1vw;
  }
}
</style>
