<template>
  <nav class="navigation__menu d-flex flex-column">
    <nav-link
      v-for="(link, key) in links"
      :key="key"
      :to="link.link"
      class="d-none d-lg-block"
    >
      {{ link.title }}
    </nav-link>
  </nav>
</template>
<script>
export default {
  name: 'NavigationMain',
  props: {
    links: {
      type: Array,
      required: true,
      default: () => []
    }
  }
}
</script>
