<template>
  <div class="wem-responsive-helper">
    <span class="d-block d-sm-none">Nic</span>
    <span class="d-none d-sm-block d-hd-none">media-breakpoint-up(sm)</span>
    <span class="d-none d-hd-block d-md-none">media-breakpoint-up(hd)</span>
    <span class="d-none d-md-block d-lg-none">media-breakpoint-up(md)</span>
    <span class="d-none d-lg-block d-xl-none">media-breakpoint-up(lg)</span>
    <span class="d-none d-xl-block d-xxl-none">media-breakpoint-up(xl)</span>
    <span class="d-none d-xxl-block">media-breakpoint-up(xxl)</span>
  </div>
</template>
<script>
export default {
  name: 'ResponsiveHelper'
}
</script>
<style lang="scss">
.wem-responsive-helper {
  position: fixed;
  bottom: 36px;
  right: 0;
  background: #ffcf00;
  color: #000;
  height: 20px;
  z-index: 10000;
}
</style>
