<template>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <CeContact></CeContact>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: 'PageAbout'
}
</script>
<style lang="scss"></style>
