<template>
  <div class="wrapper">
    <header-main>
      <template v-slot:logo>
        <nuxt-link
          v-if="navMain.link"
          :to="navMain.link"
          class="flex h-full items-center w-80"
        >
          <logo :width="200" />
        </nuxt-link>
      </template>
      <template v-slot:navigation>
        <navigation-main :links="navMain.children" />
      </template>

      <template v-slot:mobile-navigation>
        <navigation-mobile :links="navMain.children" />
      </template>
    </header-main>

    <nuxt />

    <footer-main></footer-main>

    <responsive-helper />
  </div>
</template>
<script>
import { mapState } from 'vuex'

export default {
  computed: {
    ...mapState({
      navMain(state) {
        // get first instance from root tree,
        return (state.typo3.initial.navigation &&
          state.typo3.initial.navigation.length) > 0
          ? state.typo3.initial.navigation[0]
          : []
      },
      breadcrumbs: (state) =>
        state.typo3.page.page ? state.typo3.page.page.breadcrumbs : [], // get breadcrumbs for current page,
      currentLanguage: (state) => state.typo3.locale,
      availableLanguages: (state) => state.typo3.page.languages,
      theme: (state) => {
        switch (state.typo3.page.page.appearance.theme) {
          case 1:
            return 'theme--magenta'
          case 2:
            return 'theme--brown'
          case 3:
            return 'theme--orange'
          case 4:
            return 'theme--blue'
          case 5:
            return 'theme--dark-blue'
          case 6:
            return 'theme--light-blue'
          case 7:
            return 'theme--green'
          case 8:
            return 'theme--yellow'
          default:
            return 'theme--dark'
        }
      }
    })
  },
  head() {
    return {
      bodyAttrs: {
        class: this.theme ? this.theme : ''
      }
    }
  }
}
</script>
