<template>
  <div class="footer space-top rmt-mobile">
    <div class="container">
      <div class="row no-gutters d-flex align-items-end py-2 pb-lg-2 pt-lg-5">
        <div class="col-12 col-lg-4">
          <div v-for="(link, key) in navFooter" :key="key">
            <nav-link
              :to="link.link"
              class="text-uppercase line-behind text-white text-36"
            >
              {{ link.title }}
            </nav-link>
          </div>
        </div>
        <div class="col-12 col-lg-4 my-3 my-lg-0">
          <a href="#" class="text-white">
            <svg-linked-in class="icon icon--32 icon-vertical-middle">
              <use xlink:href="/img/svg-symbols.svg#linkedin"></use>
            </svg-linked-in>
          </a>
          <a href="#" class="ml-2 text-white">
            <svg-facebook class="icon icon--32 icon-vertical-middle">
              <use xlink:href="/img/svg-symbols.svg#facebook"></use>
            </svg-facebook>
          </a>
          <a href="#" class="ml-2 text-white">
            <svg-pinterest class="icon icon--32 icon-vertical-middle">
              <use xlink:href="/img/svg-symbols.svg#pinterest"></use>
            </svg-pinterest>
          </a>
          <a href="#" class="ml-2 text-white">
            <svg-xing class="icon icon--32 icon-vertical-middle">
              <use xlink:href="/img/svg-symbols.svg#xing"></use>
            </svg-xing>
          </a>
          <a href="#" class="ml-2 text-white">
            <svg-youtube class="icon icon--32 icon-vertical-middle">
            </svg-youtube>
          </a>
        </div>
        <div class="col-12 col-lg-4">
          <div>
            <a href="#" class="text-white">
              <svg-phone class="icon icon--32 icon-vertical-middle"></svg-phone>
              <span class="text-30 ml-2">+49 89/89 55 66-0</span>
            </a>
          </div>
          <div class="mt-1">
            <a href="#" class="text-white">
              <svg-email class="icon icon--32 icon-vertical-middle"></svg-email>
              <span class="text-30 ml-2">info@schliesske.de</span>
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</template>
<script>
import { mapState } from 'vuex'
import SvgPhone from '~/assets/svg/phone.svg?inline'
import SvgEmail from '~/assets/svg/email.svg?inline'
import SvgFacebook from '~/assets/svg/facebook.svg?inline'
import SvgLinkedIn from '~/assets/svg/linkedin.svg?inline'
import SvgPinterest from '~/assets/svg/pinterest.svg?inline'
import SvgXing from '~/assets/svg/xing.svg?inline'
import SvgYoutube from '~/assets/svg/youtube.svg?inline'

export default {
  name: 'FooterMain',
  components: {
    SvgPhone,
    SvgEmail,
    SvgFacebook,
    SvgLinkedIn,
    SvgPinterest,
    SvgXing,
    SvgYoutube
  },
  computed: {
    ...mapState({
      navFooter(state) {
        // get first instance from root tree,
        return (state.typo3.initial.footer_navigation &&
          state.typo3.initial.footer_navigation.length) > 0
          ? state.typo3.initial.footer_navigation
          : []
      }
    })
  }
}
</script>
<style lang="scss">
.footer {
  background: #435260;
  color: #fff;
}
</style>
