<template>
  <div
    class="navigation align-items-stretch"
    :class="{
      'navigation--static':
        heroteaser && heroteaser.content && heroteaser.content.type !== '1'
    }"
  >
    <div class="navigation__inner d-flex">
      <div
        class="navigation__left col-6 d-flex flex-column justify-content-between"
      >
        <div class="logo d-none d-lg-flex flex-column align-items-start">
          <nuxt-link
            v-if="navMain.link"
            :to="navMain.link"
            class="flex h-full items-center w-80"
          >
            <logo />
          </nuxt-link>
        </div>
        <slot name="navigation" />
      </div>
      <div class="navigation__right navigation__right--overlayed">
        <div class="navigation__right-image" :style="navigationRightImageStyle">
          <template
            v-if="
              heroteaser &&
                heroteaser.content &&
                heroteaser.content.type === '1'
            "
          >
            <video
              v-if="
                heroteaser.content.media.length > 0 &&
                  heroteaser.content.media[0].publicUrl
              "
              class="ofc-w-h"
              autoplay
              muted
              loop
            >
              <source
                :src="heroteaser.content.media[0].publicUrl"
                :type="heroteaser.content.media[0].properties.mimeType"
              />
            </video>
          </template>
          <template v-else>
            <core-img
              v-if="
                heroteaser &&
                  heroteaser.content.image.length > 0 &&
                  heroteaser.content.image[0].publicUrl
              "
              class="ofc-w-h"
              :src="heroteaser.content.image[0].publicUrl"
            >
            </core-img>
          </template>
        </div>
      </div>
    </div>
    <div
      v-if="heroteaser && heroteaser.content && heroteaser.content.type === '0'"
      class="navigation__below"
    >
      <component
        :is="`h${heroteaser.content.headerLayout}`"
        v-if="
          heroteaser.content.headerLayout > 0 &&
            heroteaser.content.headerLayout !== 100
        "
      >
        <span v-html="heroteaser.content.header"></span>
      </component>
      <component :is="`h2`" v-else-if="heroteaser.content.headerLayout === 0">
        <html-parser :content="heroteaser.content.header"></html-parser>
      </component>

      <component
        :is="`h${heroteaser.content.subheaderLayout}`"
        v-if="
          heroteaser.content.subheader &&
            heroteaser.content.subheaderLayout !== 100 &&
            heroteaser.content.subheaderLayout !== ''
        "
      >
        <html-parser :content="heroteaser.content.subheader"></html-parser>
      </component>

      <h6
        v-else-if="
          heroteaser.content.subheader &&
            heroteaser.content.subheaderLayout !== 100
        "
        class="my-2 my-lg-5"
      >
        <html-parser :content="heroteaser.content.subheader"></html-parser>
      </h6>

      <html-parser
        v-if="heroteaser.content.text"
        :content="heroteaser.content.text"
      />
    </div>
    <slot name="after" />
  </div>
</template>
<script>
import { mapState } from 'vuex'
export default {
  name: 'HeaderMain',
  computed: {
    logoColor() {
      return '#ffffff'
      /*
      console.log(this.heroteaser.content.type)
      if (
        this.heroteaser &&
        this.heroteaser.content &&
        parseInt(this.heroteaser.content.type) === 1
      ) {
        return '#ffffff'
      }
      return '#000000' */
    },
    navigationRightImageStyle() {
      if (!this.hasTitle) {
        return {
          'padding-left': 0
        }
      }
      return {}
    },
    hasTitle() {
      return this.heroteaser ? this.heroteaser.content.header.length > 0 : false
    },
    ...mapState({
      navMain(state) {
        // get first instance from root tree,
        return (state.typo3.initial.navigation &&
          state.typo3.initial.navigation.length) > 0
          ? state.typo3.initial.navigation[0]
          : []
      },
      heroteaser(state) {
        try {
          const heroteaser = state.typo3.page.content.colPos3.find(
            (x) => x.type === 'heroteaser'
          )
          return heroteaser || null
        } catch {
          return null
        }
      }
    })
  }
}
</script>
<style lang="scss">
@import '~bootstrap/scss/functions';
@import '@/assets/scss/_colors';
@import '@/assets/scss/_variables';
@import '~bootstrap/scss/variables';

@import '~bootstrap/scss/mixins';

.navigation {
  .logo {
    margin-left: 15px;
  }
  &:not(.navigation--static) {
    .logo {
      .logo-company-name {
        fill: #fff;
      }
    }
  }
  &__menu {
    padding-left: 15px;
  }
  &__inner {
    position: relative;
  }

  &__left {
    min-height: 100vh;
    padding: 60px 0 30px 0;
    z-index: 3;
    flex: 0 0 0;
    max-width: 0;

    .logo {
      margin-bottom: 4rem;
    }
    /*
    background-image: linear-gradient(
      to right,
      rgba(47, 64, 78, 0.85) 0%,
      rgba(67, 82, 96, 0.85) 100%
    );
    background-repeat: repeat-x;*/

    @include media-breakpoint-up(lg) {
      flex: 0 0 40%;
      max-width: 40%;
      padding-left: 15px;
    }

    @include media-breakpoint-up(xl) {
      flex: 0 0 35%;
      max-width: 35%;
      padding-left: calc(
        (100% - #{map-get($container-max-widths, 'xl')}) / 2 + 15px
      );
    }
  }
  &__right {
    position: absolute;
    left: 0;
    top: 0;
    flex: 0 0 100%;
    width: 100%;
    height: 100%;
    background-color: $magenta;
    z-index: 2;
    overflow: hidden;
  }
  &__right-image {
    object-fit: cover;
    width: 100%;
    height: 100%;
    border: none;
    padding-left: 0;

    @include media-breakpoint-up(lg) {
      padding-left: 40%;
    }

    @include media-breakpoint-up(xl) {
      padding-left: 35%;
    }

    [data-slider='true'] {
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }
  &__right--overlayed:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: linear-gradient(
      0deg,
      rgba(128, 128, 128, 0.5) 25%,
      rgba(0, 0, 0, 0) 25%,
      rgba(0, 0, 0, 0) 50%,
      rgba(128, 128, 128, 0.5) 50%,
      rgba(128, 128, 128, 0.5) 75%,
      rgba(0, 0, 0, 0) 75%,
      rgba(0, 0, 0, 0) 100%
    );
    background-size: 8px 8px;
    background-repeat: repeat;
  }

  .navigation__menu {
    a {
      word-break: keep-all;
      text-transform: uppercase;
      line-height: 56px * 0.8;
      font-size: 36px;
      color: #fff;
      &::after {
        content: '_';
      }

      &.nuxt-link-active {
        font-weight: 700;
      }

      @include media-breakpoint-up(lg) {
        font-size: 48px;
        line-height: 72px * 0.8;
      }
    }
  }

  &--static {
    .navigation__left {
      background-image: none;
      background-color: #ffffff;

      .navigation__menu a {
        color: $black !important;
      }
    }

    .navigation__menu {
      margin-bottom: 4rem;

      @include media-breakpoint-up(lg) {
        margin-bottom: 10rem;
      }
    }

    .navigation__right:after {
      display: none;
    }
  }

  &__below {
    position: relative;
    z-index: 3;
    width: 100%;
    padding: 15px;
    margin-top: -4rem;
    background: $gray-800;
    color: #fff;

    @include media-breakpoint-up(lg) {
      width: 66.666%;
      padding: 5rem 5rem 5rem 15%;
      padding-left: calc((100% - 1600px) / 2 + 15px);
      margin-top: -10rem;

      > * {
        padding-left: 15px;
      }
    }
  }
}
</style>
